footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.containerF {
  max-width: 600px;
  margin: 0 auto;
}