/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Novecento", sans-serif;
}

/* Global Styles */
body {
    background-color: #F5F8FA;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    height: 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 3rem;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    color: #1DA1F2;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center;
}

.profile p {
    color: #14171A;
    font-weight: bold;
    margin-left: 1rem;
}

.profile form {
    margin-left: 1rem;
}

.logout-btn {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #0C86C4;
}