body {
    font-family: "Novecento", sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;

}

.wrapper {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.editMyProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}



.boxProfile {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.profile-display {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

.profile-display h2 {
    font-size: 24px;
    margin-top: 0;
}

.profile-display ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-display li {
    margin-bottom: 10px;
    padding: 10px;
}

.profile-display li strong {
    display: inline-block;
    width: 100px;
}

.profile-edit {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
}

.profile-edit h2 {
    font-size: 24px;
    margin-top: 0;
}

.profile-edit form {
    display: flex;
    flex-direction: column;
}

.profile-edit label {
    margin-top: 10px;
}

.profile-edit input,
.profile-edit textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-edit input[type="submit"] {
    background-color: #55acee;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.tweet-list {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
}

.tweet-list article {
    display: flex;
    margin-bottom: 1rem;
}


.followers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.followers-table td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
}

.followers-table h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #55acee;
}

.deleteAccount{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #1da1f2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-row {
    padding: 50px;
    text-align: center;
  }
  
  .username {
    display: block;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    color: #333;
  }
  
  .followers-table .username {
    display: inline-block;
    width: calc(100% - 120px);
    padding: 10px;
    text-align: center;
  }
  
  .followers-table .unFollow {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    padding: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .followers-table .unFollow:hover {
    background-color: #c62828;
  }
  
  
  