body {
    font-family: "Novecento", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #1DA1F2;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;

}

label {
    display: block;
    margin-bottom: 2px;
    margin-top: 8px;
    width: 90%;
    padding: 5px;

}

button {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;

}

input {
    width: 90%;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}