body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

section {
    padding: 20px;
}

.new-tweet {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.tweet-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.tweet-form textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.tweet-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1da1f2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tweet-form button:hover {
    background-color: #0d8de4;
}

.tweet-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tweet-list h2 {
    padding: 20px;
    background-color: #1da1f2;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.listTweet {
    padding: 20px;
}

.listTweet .tweet {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.listTweet .tweet p {
    margin: 0;
    padding: 10px;
}

.listTweet .tweet small {
    display: block;
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
}
